* {
  box-sizing: border-box;
  // outline: 1px solid blue;
}
body {
  color: white;
  &.purple {
    background-color: purple;
  }
  &.green {
    background-color: green;
  }
  .gameBoard {
    padding: 0 5.0853%;
    color: black;
    background-color: grey;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    // .box{
    //   display: block;
    //   border: 4px solid black;
    //   &.one {
    //     width: 95%;
    //     height: 95%;
    //   }
    //   &.two {
    //     widht: 60%
    //   }
    //   &.three {
    //
    //   }
    // }
    // .horizontal {
    //   display: block;
    // }
    // .vertical {
    //   display: block;
    // }
    .flexContainer {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      height: 14.2857%;
      align-items: center;
      &.flexBox2 {
        #n9 {
          margin-left: 16.66%;
        }
        #n11 {
          margin-right: 16.66%;
        }
      }
      &.flexBox3 {
        #n17 {
          margin-left: 33.33%;
        }
        #n19 {
          margin-right: 33.33%;
        }
      }
      &.flexBox5 {
        #n22 {
          margin-left: 33.33%;
        }
        #n24 {
          margin-right: 33.33%;
        }
      }
      &.flexBox6 {
        #n14 {
          margin-left: 16.66%;
        }
        #n16{
          margin-right: 16.66%;
        }
      }
      &.flexBox8 {
        width: 50%;
        #n20 {
          margin-right: 15%;
        }
      }
      &.flexBox9 {
        width: 50%;
        #n21 {
          margin-left: 15%;
        }
      }
      .node{
        background-color: white;
        border: 1px solid black;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        &.purple {
          background-color: purple;
        }
        &.green {
          background-color: green;
        }
      }
    }
  }
}
