@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .gameContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.gameContainer {
  @include aspect-ratio(1, 1);
}
* {
  box-sizing: border-box;
  // outline: 1px solid blue;
}
p {
  font-family: 'PT Sans', sans-serif;
}
header{
  h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: darkslategrey;
  }
}

body {
  background-color: floralwhite;
  main {
    display: flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;
    .turn {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: white;
      width: 15%;
      margin-right: 2%;
      border-radius: 15px;
      padding: 3px;
      &.purple {
        background-color: tomato;
        border: 1px solid #ff7f68;
      }
      &.green {
        background-color: cornflowerblue;
        border: 1px solid #83aaf0;
      }
      .current{

      }
    }
    .explanation {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1%;
      z-index: 3;
      color: darkslategrey;
      background-color: cornsilk;
      border-top:2px solid #e4c69f;
      border-left:2px solid #e4c69f;
      border-bottom:2px solid #b1936c;
      border-right:2px solid #b1936c;
      border-radius: 5px;
      box-shadow: 10px 5px 5px #856e51;
      h1 {
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        font-size: 20px;
      }
      p {
        font-family: 'PT Sans', sans-serif;
        font-size: 13px;
      }
      li {
        font-family: 'PT Sans', sans-serif;
        font-size: 13px;
      }
      .okay {
        text-align: center;
        button {
          outline: none;
          width: 20%;
          background-color: burlywood;
          border-top: 2px solid #e4c69f;
          border-left: 2px solid #e4c69f;
          border-bottom: 2px solid #b1936c;
          border-right: 2px solid #b1936c;
          border-radius: 15px;
          font-family: 'PT Sans', sans-serif;
          font-size: medium;
        }
      }

    }
    .gameContainer {
      align-content: space-between;
      background-color: cornsilk;
      box-shadow: 10px 5px 5px #ccc6b0;
      position: relative;
      width: 60%;
      border: 2px solid bisque;
      border-radius: 15px;
      .box{
        position: absolute;
        display: block;
        border: 4px double saddlebrown;
        &.horizontal {
          border-bottom: 0;
          border-top:: 4px double saddlebrown;
          width: 30%;
          top: 49.7%;
          &.hone {
            left: 9%;
          }
          &.htwo {
            right: 9%;
          }
        }
        &.vertical {
          border-left: 0;
          border-right: 4px double saddlebrown;
          height: 29%;
          left: 49.7%;
          &.vone {
            top: 7%;
          }
          &.vtwo {
            bottom: 7%;
          }
        }
        &.one {
          top: 6.5%;
          left: 8.5%;
          width: 83%;
          height: 87%;
        }
        &.two {
          top: 21%;
          left: 23.3%;
          width: 53.4%;
          height: 58%;
        }
        &.three {
          top: 35.5%;
          left: 38.2%;
          width: 23.6%;
          height: 29.2%;
        }
      }
      .gameBoard {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 5.2%;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .flexContainer {
          display: flex;
          width: 100%;
          flex-direction: row;
          justify-content: space-between;
          height: 14.2857%;
          align-items: center;
          &.flexBox2 {
            #n9 {
              margin-left: 16.66%;
            }
            #n11 {
              margin-right: 16.66%;
            }
          }
          &.flexBox3 {
            #n17 {
              margin-left: 33.33%;
            }
            #n19 {
              margin-right: 33.33%;
            }
          }
          &.flexBox5 {
            #n22 {
              margin-left: 33.33%;
            }
            #n24 {
              margin-right: 33.33%;
            }
          }
          &.flexBox6 {
            #n14 {
              margin-left: 16.66%;
            }
            #n16{
              margin-right: 16.66%;
            }
          }
          &.flexBox8 {
            height: 100%;
            width: 50%;
            #n20 {
              margin-right: 18.4%;
            }
          }
          &.flexBox9 {
            height: 100%;
            width: 50%;
            #n21 {
              margin-left: 18.4%;
            }
          }
          #n21 {
            width: 16%
          }
          #n13 {
            width: 16%
          }
          #n5 {
            width: 16%
          }
          #n20 {
            width: 16%
          }
          #n12 {
            width: 16%
          }
          #n4 {
            width: 16%
          }
          .node{
            background-color: burlywood;
            border: 4px double saddlebrown;
            border-radius: 100%;
            height: 60%;
            width: 8%;
            z-index: 1;
            &.purple {
              background-color: tomato;
              border-top: 4px solid #ff7f68;
              border-left: 4px solid #ff7f68;
              border-right: 4px solid #d0513a;
              border-bottom: 4px solid #d0513a;
              box-shadow: 10px 5px 5px #993b2a;
            }
            &.green {
              background-color: cornflowerblue;
              border-top: 4px solid #83aaf0;
              border-left: 4px solid #83aaf0;
              border-right: 4px solid #5077bd;
              border-bottom: 4px solid #5077bd;
              box-shadow: 10px 5px 5px #3c598e;
            }
          }
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      width: 15%;
      justify-content: space-around;
      margin-left: 2%;
      button {
        outline: none;
        height: 20%;
        background-color: burlywood;
        border-top: 2px solid #e4c69f;
        border-left: 2px solid #e4c69f;
        border-bottom: 2px solid #b1936c;
        border-right: 2px solid #b1936c;
        border-radius: 15px;
        font-family: 'PT Sans', sans-serif;
        font-size: medium;
        color: darkslategrey;
        &.players {
          visibility: hidden;
        }
      }
    }
  }
}

@media (max-width: 740px) {
  body {
    main {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .turn {
        margin-right: 0;
        flex-direction: row;
        width: 95%;
        margin-bottom: 2%;
      }
      .gameContainer {
        width: 95%;
        .explanation {
          overflow: scroll;
        }
        .gameBoard {

        }
      }
      .buttons {
        margin-top: 2%;
        flex-direction: row;
        width: 95%;
      }
    }
  }
}
